.carouselComp {
    display: flex;
    justify-content: space-between;

    &__inner {
        width: 1000px;
        overflow: hidden;
        height: 1000px;
        position: relative;
    }

    &__content {
        display: flex;
        position: absolute;
        transition: 1s all;
        cursor: grab;
    }
}
